{% load i18n %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends 'flatpages/default.html' %}</title>
</head>
<body>
{% block content %}
{% if is_not_author %}
<button><a href="{% url 'upgrade' %}">{% trans "I would like to be an author!" %}</a></button>
{% else %}
<h1>{% trans "You are already an author" %}</h1>
{% endif %}
<h2>{% trans "Authorized user page" %} {{ request.user.username }}</h2>
<div>{% trans "There may be personal information for each user" %}</div>

<button><a href="news/logout/">{% trans "Log out" %}</a></button>
{% endblock %}
</body>
</html>