{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Posts
{% endblock title %}

{% block content %}

    {% if is_not_subscriber %}
        <p class="text-center"><a href="{% url 'subscribe' category.id%}" class="'btn btn-secondary btn-sm">Subscribe</a></p>
    {% else %}
        <p class="text-center"><a href="{% url 'unsubscribe' category.id %}" class="btn btn-secondary btn-sm">Unsubscribe</a></p>
        {% endif %}
   <h1>All news, which we have today:</h1>
     {{ posts|length }}

   <h3>{{ time_in|date:'M d Y' }}</h3>
   <hr>
   {% if category_news_list %}
       <table>
           <tr>
               <td>Title</td>
               <td>Publication date</td>
               <td>Content</td>
               <td>Type</td>
               <td>Category</td>
           </tr>

           {% for post in category_news_list %}
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>{{ post.time_in|date:'d M Y' }}</td>
               <td>{{ post.text_post|censor|truncatewords:20 }}</td>
               <td>{{ post.get_type_display }}</td>
               <td>
                   {% for category in post.connection_categ.all %}
                   <a href="{% url 'category_list' category.id %}">{{ post.connection_categ }} </a>
                   {% endfor %}
               </td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>We don't have news, sorry!</h2>
   {% endif %}

    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}