{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h1>All news, which we have today:</h1>
     {{ posts|length }}

   <h3>{{ time_in|date:'M d Y' }}</h3>
   <hr>
   {% if posts %}
       <table>
           <tr>
               <td>Title</td>
               <td>Publication date</td>
               <td>Content</td>
               <td>Type</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>{{ post.time_in|date:'d M Y' }}</td>
               <td>{{ post.text_post|censor|truncatewords:20 }}</td>
               <td>{{ post.get_type_display }}</td>
               <td>{{ connection_categ }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>We don't have news, sorry!</h2>
   {% endif %}

    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}