{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
       <table>
           <thead>
                <tr>
                    <td>Title</td>
                    <td>Publication date</td>
                    <td>Content</td>
                </tr>
           </thead>
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>{{ post.time_in|date:'d M Y' }}</td>
               <td>{{ post.text_post|censor }}</td>
           </tr>
       </table>
{% endblock content %}